<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Title</title>
    </head>
    <body>
        {{> header}}
        <p>{{welcomeText}}</p>

        {{> footer}}
    </body>
</html>